@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap");

:root {
  --primary-color: #007bff;
}

* {
  font-family: "Roboto" sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Navbar */

.navbar {
  display: flex;
  background-color: white;
  /* position: fixed; */
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.logo > a > img {
  height: 5rem;
  width: 7rem;
}

.navbar_menu > li {
  padding: 8px 12px;
  color: var(--primary-color);
  font-weight: bold;
  align-items: center;
}

.navbar_menu > li > a {
  text-decoration: none;
}

.navbar_menu > li> a:hover {
  color: white;
  background-color: var(--primary-color);
  border-radius: 5px;
}

.hamburger {
  display: none;
  position: absolute;
  right: 20px;
  top: auto;
  cursor: pointer;
}
.hamburger > i {
  color: var(--primary-color);
  font-size: 1.2rem;
}

/* End of Navbar*/

/* Home - body */
.point-text {
  color: #007bff;
}

#greet > p:nth-child(1) {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 0;
}

#greet > p:nth-child(2) {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: 0;
}

#home {
  padding-top: 150px;
  padding-left: 100px;
}

section {
  padding-left: 100px;
}
#github-theme {
  padding-top: 10px;
  font-family: monospace;
}

#github-theme p {
  font-size: 0.9rem;
}

/* About -body */

.container {
  padding-top: 150px;
  padding-left: 100px;
}

.row {
  padding-top: 100px;
}

.contact i {
  font-size: 1.5rem;
  padding: 8px 12px;
}

/* Project Body */

img {
  width: 90%;
}
